<%if (typeof modal != 'undefined') { %>
<%- partial('partials/modal')%>
<% } %>
<link rel="stylesheet" type="text/css" href="/styles/editor.css">
<input type='hidden' name='id' id='boardId' value='<%= board.id %>'>

<div id="workspace">

	<div id="dock">
		<div id="elText" class="elText ui-widget-content"></div>
		<div id="elVideo" class="elVideo ui-widget-content"></div>
		<div id="elImage" class="elImage ui-widget-content">
			I
		</div>
		<div id="elPost" class="elPost ui-widget-content">
			P
		</div>
	</div>

	<div id="fiche">
		<input type='text' id="lienFiche" class='form-control toolbar' placeholder='Entrez votre lien de votre image...' />
		<%if (typeof board.avatar != 'undefined') { %>
		<img src="<%= board.avatar %>" alt="" />
		<% }  else { %>
		<img src="/images/insertion-image.svg" alt="" />
		<% } %>
		<div id="fiche-text">
			<input type="text" id="title" name="title" placeholder="Titre..." value='<%= board.title %>'/>
			<textarea id="ftxt" placeholder="Description de votre fiche ..."><%= board.description %></textarea>
		</div>
	</div>

	<section id="dashboard">
		<!-- <%if (typeof board.content != 'undefined') { %>
		<%- board.content %>
		<% } %> -->
	</section>

</div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<!-- Brain application script-->
<script type="text/javascript" src="/js/brain.js"></script>

<script type="text/javascript">
$(document).ready(function () {
	$('#save-dashboard').bind('click', function () {
		var dashboard = $('#dashboard').html();
		dashboard = dashboard.trim();

		var id = $('#boardId').val();
		
		var type = '';
		if (id == -1 ) {
			type = 'POST';
			var data = {
				content: dashboard
			};
		} else {
			type = 'PUT';
			var data = {
				id: id,
				content: dashboard
			};
		}

		$.ajax({
			type: type,
			url: '/Board',
			data: data
		}).success( function (data) {
			console.log(data);
		}).fail( function (){
			// @Todo manage error
			console.log('error');
		});
		
	});
});
</script>
